.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
fill: none;
stroke: blueviolet;
stroke-width: 2px;
}

div.legenddots {
  position: absolute;
  text-align: center;
  width: 160px;
  height: 58px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(101, 189, 18);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}